body {
	margin-left: 30px;
}
h2{
	margin-left: 15px;
}

.test{
    color: green;
    text-align: center;
    display: inline-block;
    margin: 4px;
    border-radius: 8px;
    border-color: SlateBlue;
}
